@{
    ViewData["Title"] = "Search Instock";
    ViewData["Show"] = "stock";
    ViewData["Active"] = "SearchInstock";
}

<h1>@ViewData["Title"]</h1>
@section Stylesheets
{
<link href="~/assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<script>
$(function(){
    var lines = [];
    $.each($('#data').val().split(/\n/), function(i, line){
        if(line){
            lines.push(line);
        }
    });
    console.log(lines);
});
</script>
<div class="card-body bg-light">
    <form method="post" asp-action="SearchInstock" id="idInputForm">
        <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                    <label for="optionchoose">Model Name</label>
                    <select class="custom-select custom-select-sm mb-3" id="modelname" required name="modelname">
                        <option selected="" value="">Open this Select menu</option>
                         <!option value="ALL" @if(ViewBag.modelNameSl != null && ViewBag.modelNameSl == "ALL"){@("selected");}>ALL</!option>
                        @{
                            string modelNameSl = "";
                            if (ViewBag.modelNameSl != null)
                            {
                                modelNameSl = string.Format("{0}", ViewBag.modelNameSl);
                            }

                            if (ViewBag.ModelName != null)
                            {
                                foreach (var objModuleName in ViewBag.ModelName)
                                {
                                    <!option value="@objModuleName" @if(ViewBag.modelName != null && modelNameSl == objModuleName.ToString()){@("selected");}>@objModuleName</!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="optionchoose">GroupName</label>
                    <select class="custom-select custom-select-sm mb-3" required id="groupName" name="groupName">
                        <option selected="" value="ALL">ALL</option>
                        <!option value="INSTOCK" @if(ViewBag.groupName != null && ViewBag.groupName == "INSTOCK"){@("selected");}>INSTOCK</!option>
                        <!option value="CTTVOUT" @if(ViewBag.groupName != null && ViewBag.groupName == "CTTVOUT"){@("selected");}>CTTVOUT</!option>
                        <!option value="DEEPCIN" @if(ViewBag.groupName != null && ViewBag.groupName == "DEEPCIN"){@("selected");}>DEEPCIN</!option>
                    </select>
                </div>
            </div>
            </div>
              <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="optionchoose">Serial Number</label>
                    <input class="classInputBox"  value="@if(ViewBag.SN != null ){@ViewBag.SN}"  name="serialNumber"/>
                </div>
            </div>
              <div class="col-lg-4">
                <div class="form-group">
                    <label for="optionchoose">Pallet No</label>
                    <input class="classInputBox" value="@if(ViewBag.pallet != null ){@ViewBag.pallet}"  name="palletNo"/>
                </div>
            </div>
        </div>
                  <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="optionchoose">Warehouse Code</label>
                    <input class="classInputBox"  value="@if(ViewBag.WHcode != null ){@ViewBag.WHcode}"  name="WHcode"/>
                </div>
            </div>
              <div class="col-lg-4">
                <div class="form-group">
                    <label for="optionchoose">BIN Code</label>
                    <input class="classInputBox" value="@if(ViewBag.Bincode != null ){@ViewBag.Bincode}"  name="Bincode"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary form-control-sm" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<div class="alert alert-danger" style="display: none;" id="checkValidInput" role="alert">Your input data is invalid</div>
<div class="navbar-vertical-divider">
    <hr class="navbar-vertical-hr my-2">
</div>


<table id="SearchBySN" class="table table-sm table-dashboard  no-wrap mb-0 fs--1 w-100" style="text-align:center">
    <thead class="bg-200 text-900">
        <tr>
            <th>
            </th>
            <th>
                SERIAL NUMBER
            </th>
            <th>
                MODEL NAME
            </th>
            <th>
                GROUP NAME
            </th>
            <th>
               IN STATION TIME
            </th>
            <th>
               PALLET NO
            </th>
             <th>
              WAREHOUSE CODE
            </th>
             <th>
              BIN CODE
            </th>
                <th>
              QA JUDGE
            </th>
                <th>
            HOLD STATUS
            </th>

        </tr>
    </thead>
    <tbody class="list">
        @if (Model != null)
        {
            var counter = 1;
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="1%">
                        @counter
                        @{
                            counter = counter + 1;
                        }
                    </td>
                    <td width="20%">
                        @obj.SERIAL_NUMBER
                    </td>
                    <td width="15%">
                        @obj.MODEL_NAME
                    </td>
                    <td width="10%">
                        @obj.GROUP_NAME
                    </td>
                    <td width="15%">
                        @obj.INSTOCK_TIME
                    </td>
                    <td width="10%">
                        '@obj.PALLET_NO
                    </td>
@*                          <td width="10%">
                        @obj.BOX_NO
                    </td>*@
                          <td width="10%">
                        @obj.WH_CODE
                    </td>
                          <td width="10%">
                        @obj.BIN_CODE
                    </td>
                              <td width="10%">
                        @obj.QA_JUDGE
                    </td>
                          <td width="10%">
                        @obj.HOLD_STATUS
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



@section Scripts
{
<script src="~/js/custom.js"></script>

<script>

    var dataTable = $('#SearchBySN').DataTable({
        "sDom": "<'row mb-1' <'col-2'B><'col-2'l><'col-2' i><'col-2'f><'col-4'p>><'table-responsive't><'row'>",
        filter: true,
        "searching": true,
        "lengthMenu": [ [10, 100, 200, 500, -1], [10, 100, 200, 500, "All"] ],
        "scrollCollapse": true,
        "paging": true,
        // "bSort": true,
        "info": true,

        buttons: [

            {
                extend: 'excelHtml5',
                text: 'Excel',
                className: 'btn btn-primary hide',
                title: 'Data export',
                // titleAttr: 'Export all rows to Excel file',
            },

            
            {
                extend: 'copyHtml5',
                text: 'Copy Data',
                className: 'btn btn-primary hide',
                // titleAttr: 'Copy all rows to clipboard',
            },
        ],

    });


</script>
<script src="~/assets/lib/flatpickr/flatpickr.min.js"></script>
}
