<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CTTVWebsite</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="assets/js/config.navbar-vertical.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="~/assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/assets/lib/datatables-bs4/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/lib/leaflet/leaflet.css" rel="stylesheet">
    <link href="~/assets/lib/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="~/assets/lib/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
    <link href="~/assets/css/theme.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <!-- Datatable ===============================================-->
    <link rel="stylesheet" type="text/css" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/buttons.bootstrap4.min.css" />
    @RenderSection("Stylesheets",false/*required*/)
</head>
<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


        <div class="container-fluid" data-layout="container">
            <nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
                <div class="d-flex align-items-center">
                    <div class="toggle-icon-wrapper">

                        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>


                    </div>
                    <div id="Dashboard">
                        <a class="navbar-brand" href="/">
                            <div class="d-flex align-items-center py-3">
                                <img class="mr-2" src="~/images/logo.png" alt="" width="150" />@*<span class="text-sans-serif">falcon</span>*@
                            </div>
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                    <div class="navbar-vertical-content perfect-scrollbar scrollbar">
                        <ul class="navbar-nav flex-column">


                           


                            @* <li class="nav-item" id="SearchSN">
                                <a class="nav-link" asp-controller="Wiptracking" asp-action="SearchBySN">
                                <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-barcode"></span></span><span class="nav-link-text">WIP tracking</span>
                                </div>
                                </a>
                                </li>*@
                            <li class="nav-item">
                                <a class="nav-link dropdown-indicator" href="#STT" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="home">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"><span class="fas fa-barcode"></span></span><span class="nav-link-text">Setup New Model</span>
                                    </div>
                                </a>
                                
                                <ul class="nav collapse" id="SetupNewModel" data-parent="#navbarVerticalCollapse">
                                    <li class="nav-item">
                                        <a class="nav-link CheckScanList" asp-controller="Admin" NeedActive="CheckScanList" asp-action="CheckScanList">Scan List Checker</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link DataTester" asp-controller="Admin" NeedActive="DataTester" asp-action="DataTester">Data tester</a>
                                    </li>

                                    @* <li class="nav-item">
                                        <a class="nav-link SearchDetailedOut" asp-controller="Sndetail" asp-action="SearchDetailedOut">Detail Output</a>
                                        </li>*@
                                </ul>

                            </li>
                            

                            
                        </ul>
                        <div class="navbar-vertical-divider">
                            <hr class="navbar-vertical-hr my-2" />
                        </div>
                    </div>
                </div>
            </nav>
            <div class="content">


                <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

                    <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
                    <a class="navbar-brand mr-1 mr-sm-3" href="../index.html">
                        <div class="d-flex align-items-center">
                            <img class="mr-2" src="../assets/img/illustrations/falcon.png" alt="" width="40" /><span class="text-sans-serif">falcon</span>
                        </div>
                    </a>

                    <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">

                        <li class="nav-item dropdown dropdown-on-hover">
                            <a class="nav-link notification-indicator notification-indicator-primary px-0 icon-indicator" id="navbarDropdownNotification" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell fs-4" data-fa-transform="shrink-6"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownNotification">
                                <div class="card card-notification shadow-none" style="max-width: 20rem">
                                    <div class="card-header">
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col-auto">
                                                <h6 class="card-header-title mb-0">Notifications</h6>
                                            </div>
                                            <div class="col-auto"><a class="card-link font-weight-normal" href="#">Mark all as read</a></div>
                                        </div>
                                    </div>
                                    <div class="list-group list-group-flush font-weight-normal fs--1">
                                        <div class="list-group-title border-bottom">NEW</div>
                                        <div class="list-group-item">
                                            <a class="notification notification-flush bg-200" href="#!">
                                                <div class="notification-avatar">
                                                    <div class="avatar avatar-2xl mr-3">
                                                        <img class="rounded-circle" src="../assets/img/team/1-thumb.png" alt="" />

                                                    </div>
                                                </div>
                                                <div class="notification-body">
                                                    <p class="mb-1"><strong>Hello! </strong>Hope you have a nice day 😍"</p>
                                                    <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>CTTV</span>

                                                </div>
                                            </a>

                                        </div>
                                        @*   <div class="list-group-title">EARLIER</div>
                                            <div class="list-group-item">
                                            <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                            <div class="avatar avatar-2xl mr-3">
                                            <img class="rounded-circle" src="../assets/img/icons/weather-sm.jpg" alt="" />

                                            </div>
                                            </div>
                                            <div class="notification-body">
                                            <p class="mb-1">The forecast today shows a low of 20&#8451; in California. See today's weather.</p>
                                            <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🌤️</span>1d</span>

                                            </div>
                                            </a>

                                            </div>
                                            </div>*@
                                        <div class="card-footer text-center border-top"><a class="card-link d-block" href="#">Nothing</a></div>
                                    </div>
                                </div>

                        </li>
                        <li class="nav-item dropdown dropdown-on-hover">
                            <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar avatar-xl">
                                    <img class="rounded-circle" src="../assets/img/team/3-thumb.png" alt="" />

                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
                                <div class="bg-white rounded-soft py-2">
                                    @* <a class="dropdown-item font-weight-bold text-warning" href="#!"><span class="fas fa-crown mr-1"></span><span>Go Pro</span></a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Set status</a>
                                        <a class="dropdown-item" href="../pages/profile.html">Profile &amp; account</a>
                                        <a class="dropdown-item" href="#!">Feedback</a>

                                        
                                        <a class="dropdown-item" href="../pages/settings.html">Settings</a>
                                        *@
                                    <a class="dropdown-item" href="https://zalo.me/g/uxccfh228">Join IT Support</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                                   
                                </div>

                            </div>
                        </li>
                    </ul>
                </nav>



                <div class="card mb-3 mb-lg-0">

                    <div class="card-body fs--1">
                        <div class="row">
                            <div class="col-md-12 h-100">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 text-600">CTTV IT Department <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2022 &copy;</p>
                        </div>
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 text-600">v1.0</p>
                        </div>
                    </div>
                </footer>
            </div>


        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/lib/@@fortawesome/all.min.js"></script>
    <script src="~/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="~/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="~/assets/lib/is_js/is.min.js"></script>
    <script src="~/assets/lib/lodash/lodash.min.js"></script>
    <script src="~/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link href="~/css/font-google.css" rel="stylesheet">
    <script src="~/assets/lib/chart.js/Chart.min.js"></script>
    <script src="~/assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/lib/datatables-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/lib/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="~/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script src="~/assets/lib/leaflet/leaflet.js"></script>
    <script src="~/assets/lib/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script src="~/assets/lib/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>

    <script type="text/javascript" src="~/js/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/datatables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/datatables/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/datatables/jszip.min.js"></script>
    <script type="text/javascript" src="~/js/datatables/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/js/JsBarcode.all.min.js"></script>
    <script type="text/javascript" src="~/js/qrcode.min.js"></script>
     <script type="text/javascript" src="~/js/md5.js"></script>
    @*<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>*@
    <script type="text/javascript" src="~/js/datatables/buttons.html5.min.js"></script>

    <script src="~/assets/js/theme.js"></script>
    @RenderSection("Scripts",false/*required*/);

    @if (ViewData["Show"] != null)
    {


        <script type="text/javascript">
            document.getElementById("@ViewData["Show"]").classList.add("show");
        </script>
    }

    @if (ViewData["Active"] != null)
    {
        <script type="text/javascript">
            list = document.getElementsByClassName('@ViewData["Active"]');
            for (var i = 0; i < list.length; ++i) {
               list[i].classList.add('active');
            }
        </script>
    }

</body>
</html>
