@{
    ViewData["Title"] = "Group Name by SN";
    ViewData["Show"] = "STT";
    ViewData["Active"] = "SearchBySN";
}
<h1>@ViewData["Title"]</h1>
@section Stylesheets
{
<link href="~/assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<script>
$(function(){
    var lines = [];
    $.each($('#data').val().split(/\n/), function(i, line){
        if(line){
            lines.push(line);
        }
    });
    console.log(lines);
});
</script>


<div class="card-body bg-light">
    <form method="post" asp-action="SearchBySN" id="idInputForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="serialNumber">SERIAL_NUMBER</label>
                   
                     <textarea class="form-control form-control-sm classInputBox"  rows=8 required name="serialNumber" placeholder="12503924$6703918&#10;12485709$8531118&#10;12485704$8201134" type="text" value="" >@if(ViewBag.serialNumber != null ){@ViewBag.serialNumber}</textarea>
                </div>
            </div>
             <div class="col-lg-3">
                <div class="form-check">
                    
  <input class="form-check-input" id="ConNo" name="ConNo" type="checkbox" value="Yes"  @if(ViewBag.ConNo != null && ViewBag.ConNo == "Yes"){@("checked");} />
   <label class="form-check-label" for="flexCheckDefault">Show Container NO</label>
   <br />
    <input class="form-check-input" id="Next" name="Next" type="checkbox" value="Yes"  @if(ViewBag.Next != null && ViewBag.Next == "Yes"){@("checked");} />
   <label class="form-check-label" for="flexCheckDefault">Show Next Station</label>
    <br />
    <input class="form-check-input" id="MO" name="MO" type="checkbox" value="Yes"  @if(ViewBag.MO != null && ViewBag.MO == "Yes"){@("checked");} />
   <label class="form-check-label" for="flexCheckDefault">Show MO Number</label>

 
</div>
            </div>
             <div class="col-lg-3">
                <div class="form-check">
                    

    <input class="form-check-input" id="PO" name="PO" type="checkbox" value="Yes"  @if(ViewBag.PO != null && ViewBag.PO == "Yes"){@("checked");} />
   <label class="form-check-label" for="flexCheckDefault">Show PO NO</label>
       <br />
    <input class="form-check-input" id="OBI" name="OBI" type="checkbox" value="Yes"  @if(ViewBag.OBI != null && ViewBag.OBI == "Yes"){@("checked");} />
   <label class="form-check-label" for="flexCheckDefault">Show OBI Check</label>
    <br />
    <input class="form-check-input" id="OBIDetail" name="OBIDetail" type="checkbox" value="Yes"  @if(ViewBag.OBIDetail != null && ViewBag.OBIDetail == "Yes"){@("checked");} />
   <label class="form-check-label" for="flexCheckDefault">Show OBI Detail</label>
 
</div>
            </div>

        </div>
       
        <br />
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary form-control-sm" type="submit">Search </button>
            </div>
        </div>
    </form>
</div>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<div class="alert alert-danger" style="display: none;" id="checkValidInput" role="alert">Your input data is invalid</div>
<div class="navbar-vertical-divider">
    <hr class="navbar-vertical-hr my-2">
</div>


<table id="SearchBySN" class="table table-sm table-dashboard  no-wrap mb-0 fs--1 w-100" style="text-align:center"  >
    <thead class="bg-200 text-900">
        <tr>
                        <th>
            </th>
            <th>
                SERIAL_NUMBER
            </th>
            <th>
                MODEL_NAME
            </th>
            <th>
                LINE_NAME
            </th>
            <th>
                GROUP_NAME
            </th>
            <th>
                PALLET_NO
            </th>
            <th>
                IN_STATION_TIME
            </th>
           @if (ViewBag.PO == "Yes")
            {
                <th>PO NO</th>
               
            }
            @if (ViewBag.MO == "Yes")
            {
                <th> MO Number</th>
               
            }
            @if (ViewBag.Next == "Yes")
            {
                <th>Next Station</th>
               
            }
            @if (ViewBag.ConNo == "Yes")
            {
                <th> CONTAINER NO</th>
               
            }
             @if (ViewBag.OBI == "Yes")
            {
                <th>OBI RECORD</th>
                
               
            }
            @if (ViewBag.OBIDetail == "Yes")
            {
                 <th> OBI TIME</th>
                <th>CHECK BOX</th>
                 <th>CHKBOX TIME</th>
                  <th>CHECK SN</th>
                 <th>CHKSN TIME</th>
               
            }

        </tr>
    </thead>
    <tbody class="list">
        @if (Model != null)
        {
           var counter = 1;
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="1%">
                        @counter
                        @{
                            counter = counter + 1;
                        }
                    </td>
                    <td width="20%">
                        @obj.SERIAL_NUMBER
                    </td>
                    <td width="10%">
                        @obj.MODEL_NAME
                    </td>
                      <td width="10%">
                        @obj.LINE_NAME
                    </td>
                    <td width="10%">
                        @obj.GROUP_NAME
                    </td>
                    <td width="20%">
                        '@obj.PALLET_NO
                    </td>
                    <td width="20%">
                        @obj.IN_STATION_TIME
                    </td>
                      @if (ViewBag.PO == "Yes")
            {
                <td width="10%">
                        @obj.PO_NO
                    </td>
               
            }
            @if (ViewBag.MO == "Yes")
            {
                <td width="10%">
                        @obj.MO_NUMBER
                    </td>
               
            }
            @if (ViewBag.Next == "Yes")
            {
               <td width="10%">
                        @obj.GROUP_NEXT
                    </td>
               
            }
            @if (ViewBag.ConNo == "Yes")
            {
                 <td width="10%">
                        @obj.CONTAINER_NO
                    </td>
               
            }
             @if (ViewBag.OBI == "Yes")
            {
                <td width="10%">
                        @obj.OBI_RECORD
                    </td>
                    
               
            }
            @if (ViewBag.OBIDetail == "Yes")
            {
                 <td width="15%">
                        @obj.OBI_IN_TIME
                    </td>   
                <td width="10%">
                        @obj.CHECK_BOX
                    </td>
                    <td width="15%">
                        @obj.OBI_BOX_TIME
                    </td>
                    <td width="10%">
                        @obj.CHECK_SN
                    </td>
                    <td width="15%">
                        @obj.OBI_SN_TIME
                    </td>
               
            }
                      
                </tr>
            }
        }
    </tbody>
</table>



@section Scripts
{
<script src="~/js/custom.js"></script>

<script>

    var dataTable = $('#SearchBySN').DataTable({
        "sDom": "<'row mb-1' <'col-2'B><'col-2'l><'col-2' i><'col-2'f><'col-4'p>><'table-responsive't><'row'>",
        filter: true,
        "searching": true,
        "lengthMenu": [ [10, 100, 200, 500, -1], [10, 100, 200, 500, "All"] ],
        "scrollCollapse": true,
        "paging": true,
        // "bSort": true,
        "info": true,

        buttons: [

            {
                extend: 'excelHtml5',
                text: 'Excel',
                className: 'btn btn-primary hide',
                title: 'Data export',
                // titleAttr: 'Export all rows to Excel file',
            },

            
            {
                extend: 'copyHtml5',
                text: 'Copy Data',
                className: 'btn btn-primary hide',
                // titleAttr: 'Copy all rows to clipboard',
            },
        ],

    });


</script>
<script src="~/assets/lib/flatpickr/flatpickr.min.js"></script>
}