@{
    ViewData["Title"] = "Group Name by Pallet";
    ViewData["Show"] = "STT";
    ViewData["Active"] = "SearchByPallet";
}
<h1>@ViewData["Title"]</h1>
@section Stylesheets
{
<link href="~/assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<script>
$(function(){
    var lines = [];
    $.each($('#data').val().split(/\n/), function(i, line){
        if(line){
            lines.push(line);
        }
    });
    console.log(lines);
});
</script>


<div class="card-body bg-light">
    <form method="post" asp-action="SearchByPallet" id="idInputForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="PalletNo">PALLET NO</label>
                   
                     <textarea class="form-control form-control-sm classInputBox"  rows=8 required name="PalletNo" placeholder="A001443A022101&#10;21122912485709064&#10;A015950B012207" type="text" value="" >@if(ViewBag.PalletNo != null ){@ViewBag.PalletNo}</textarea>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary form-control-sm" type="submit">Search </button>
            </div>
        </div>
    </form>
</div>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<div class="alert alert-danger" style="display: none;" id="checkValidInput" role="alert">Your input data is invalid</div>
<div class="navbar-vertical-divider">
    <hr class="navbar-vertical-hr my-2">
</div>


<table id="SearchBySN" class="table table-sm table-dashboard  no-wrap mb-0 fs--1 w-100" style="text-align:center"  >
    <thead class="bg-200 text-900">
        <tr>
                        <th>
            </th>
            <th>
                SERIAL_NUMBER
            </th>
            <th>
                MODEL_NAME
            </th>
            <th>
                GROUP_NAME
            </th>
            <th>
                PALLET_NO
            </th>
            <th>
                IN_STATION_TIME
            </th>

        </tr>
    </thead>
    <tbody class="list">
        @if (Model != null)
        {
           var counter = 1;
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @counter
                        @{
                            counter = counter + 1;
                        }
                    </td>
                    <td width="20%">
                        @obj.SERIAL_NUMBER
                    </td>
                    <td width="20%">
                        @obj.MODEL_NAME
                    </td>
                    <td width="20%">
                        @obj.GROUP_NAME
                    </td>
                    <td width="20%">
                        '@obj.PALLET_NO
                    </td>
                    <td width="20%">
                        @obj.IN_STATION_TIME
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



@section Scripts
{
<script src="~/js/custom.js"></script>

<script>

    var dataTable = $('#SearchBySN').DataTable({
        "sDom": "<'row mb-1' <'col-2'B><'col-2'l><'col-2' i><'col-2'f><'col-4'p>><'table-responsive't><'row'>",
        filter: true,
        "searching": true,
        "lengthMenu": [ [10, 100, 200, 500, -1], [10, 100, 200, 500, "All"] ],
        "scrollCollapse": true,
        "paging": true,
        // "bSort": true,
        "info": true,

        buttons: [

            {
                extend: 'excelHtml5',
                text: 'Excel',
                className: 'btn btn-primary hide',
                title: 'Data export',
                // titleAttr: 'Export all rows to Excel file',
            },

            
            {
                extend: 'copyHtml5',
                text: 'Copy Data',
                className: 'btn btn-primary hide',
                // titleAttr: 'Copy all rows to clipboard',
            },
        ],

    });


</script>
<script src="~/assets/lib/flatpickr/flatpickr.min.js"></script>
}