@{
    ViewData["Title"] = "Hold Detail by SN (scan barcode)";
    ViewData["Show"] = "STT";
    ViewData["Active"] = "SearchOneHoldSTT";
}

<h1>@ViewData["Title"]</h1>

@section Stylesheets
{
<link href="~/assets/lib/flatpickr/flatpickr.min.css" rel="stylesheet">
}




<div class="card-body bg-light">
    <form method="post" asp-action="SearchOneHoldSTT" id="idInputForm">
        
         <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="preSerial">ODM BARCODE 1 </label>
                     <input   class="classInputBox" id="odbBarcode1"  value="@if(ViewBag.Pre != null ){@ViewBag.Pre}" name="preSerial" placeholder="P124852048" type="text">
                </div>
            </div>
             <div class="col-lg-6">
                <div class="form-group">
                    <label for="subSerial">ODM BARCODE 2</label>
                     <input  class="classInputBox" name="subSerial"  value="@if(ViewBag.Sub != null ){@ViewBag.Sub}" placeholder="S0182000848" type="text">
                </div>
            </div>
        </div>
       
        <br />
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary form-control-sm" type="submit">Search </button>
            </div>
        </div>
    </form>
</div>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<div class="alert alert-danger" style="display: none;" id="checkValidInput" role="alert">Your input data is invalid</div>
<div class="navbar-vertical-divider">
    <hr class="navbar-vertical-hr my-2">
</div>


<table id="SearchBySN" class="table table-sm table-dashboard  no-wrap mb-0 fs--1 w-100">
    <thead class="bg-200 text-900">
        <tr>
                        <th width="1%">
            </th>
            <th>
                SERIAL_NUMBER
            </th>
            <th>
                MODEL_NAME
            </th>
            <th>
               HOLD_ID
            </th>
            <th>
               HOLD_REASON
            </th>

        </tr>
    </thead>
    <tbody class="list">
        @if (Model != null)
        {
           var counter = 1;
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="1%">
                        @counter
                        @{
                            counter = counter + 1;
                        }
                    </td>
                    <td width="20%">
                        @obj.SERIAL_NUMBER
                    </td>
                    <td width="20%">
                        @obj.MODEL_NAME
                    </td>
                    <td width="20%">
                        @obj.HOLD_ID
                    </td>
                    <td width="20%">
                        @obj.HOLD_REASON
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



@section Scripts
{
<script src="~/js/custom.js"></script>

<script>
    $("#idInputForm").submit(function (e) {
    $('.classInputBox').each(function (i, obj) {
            var classterm = $(obj).val();
            if (classterm.length < 10) {
                console.log("Invalid");
                $("#checkValidInput").show();
                $("#checkValidInput").delay(2000).fadeOut("slow");
                e.preventDefault();
            } 

    });


    
});
</script>
<script>
$('#odbBarcode1').keydown(function(e){
    if(e.keyCode === 13){
        /* FOCUS ELEMENT */
        var inputs = $(this).parents("form").eq(0).find(":input");
        var idx = inputs.index(this);

        if (idx == inputs.length - 1) {
            inputs[0].select()
        } else {
            inputs[idx + 1].focus(); //  handles submit buttons
            inputs[idx + 1].select();
        }
        return false;
     }  
});
</script>
<script>

    var dataTable = $('#SearchBySN').DataTable({
        "sDom": "<'row mb-1' <'col-2'B><'col-2'l><'col-2' i><'col-2'f><'col-4'p>><'table-responsive't><'row'>",
        filter: true,
        "searching": true,
        "lengthMenu": [ [10, 100, 200, 500, -1], [10, 100, 200, 500, "All"] ],
        "scrollCollapse": true,
        "paging": true,
        // "bSort": true,
        "info": true,

        buttons: [

            {
                extend: 'excelHtml5',
                text: 'Excel',
                className: 'btn btn-primary hide',
                title: 'Data export',
                // titleAttr: 'Export all rows to Excel file',
            },

            
            {
                extend: 'copyHtml5',
                text: 'Copy Data',
                className: 'btn btn-primary hide',
                // titleAttr: 'Copy all rows to clipboard',
            },
        ],

    });


</script>
<script src="~/assets/lib/flatpickr/flatpickr.min.js"></script>
}